.video {
	width: 100%;
	height: auto;
	max-height: 400px;
	max-width: 400px;
}

.video.hiddenVideo {
	width: 1px;
	height: 1px;
}

.captureWrapper {
	position: relative;
}

.countdownWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}

.countdownTimer {
	font-size: 10em;
	color: red;
	align-content: center;
	align-items: center;
}

.recordingTimerWrapper {
	display: flex;
	flex-direction: row;
}

.placeholderButton {
	visibility: hidden;
}
