.video {
	width: 100%;
	height: auto;
}

.video.hiddenVideo {
	width: 1px;
	height: 1px;
}

.captureWrapper,
.playbackWrapper {
	max-height: 300px;
	max-width: 300px;
	position: relative;
}

.countdownWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}

.countdownTimer {
	font-size: 10em;
	color: red;
	margin: auto;
}

.recordingTimerWrapper {
	display: flex;
	flex-direction: row;
}

.placeholderButton {
	visibility: hidden;
}
